*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 10px;

  @include respond(desktop-big){
    font-size: 12px;
  }

  @include respond(tablet-land){
    font-size: 9px;
  }

  @include respond(tablet-port){
    font-size: 8px;
  }

  @include respond(phone){
    font-size: 8px;
  }

}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::selection{
  background-color: $color-primary;
  color: $color-white;
}